# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:



1.  Python
2.  Java
3.  SQL
4.  R
5.  Julia
6.  Scala

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|Jupyter Lab|
|Apache Zeppelin|
|R Studio|
|Spyder|
|Apache Spark|
|Apache Flink|
|Ray|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives**


- Python
- Spark
- SQL
- R
- Matlab
- Scala
- Java

## Author
Mohan Natarajan